table.main {
    border: 1px double #fff;
}

TD.main, TH.main {
    padding: 5px; /* Поля вокруг текста */
    border: 1px solid #000; /* Рамка вокруг ячеек */
}

tr.main:focus {
    background: rgb(70%, 70%, 70%);
}

.title{
    font-weight: bold;
}

.notActive{
    background: rgb(95%, 95%, 90%);
}

.center{
    margin: 0 auto;
    width:500px;
}

.exit{
    margin: 0 0 0 auto;
    width:100px;
}

.inline{
    display: inline;
}

.popup{
    max-width: 500px;
    max-height: 500px;
    /*Закруглённые углы*/
    border-radius: 10px;
    /*Отступы от края*/
    padding: 10px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    position: absolute;
    background: white;
    margin: auto;
    display: none;
}

.dark-back{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 8;
    background: rgba(0, 0, 0, 0.75);
    display: none;
}

.active{
    display: block;
}
