table {
    border: 1px double #fff;

}
TD, TH {
    padding: 5px; /* Поля вокруг текста */
    border: 1px solid #000; /* Рамка вокруг ячеек */
}

tr:focus {
    background: rgb(70%, 70%, 70%);
}

.title{
    font-weight: bold;
}

.notActive{
    background: rgb(95%, 95%, 90%);
}

.center{
    margin: 0 auto;
    width:500px;
}

.exit{
    margin: 0 0 0 auto;
    width:100px;
}

.inline{
    display: inline;
}